.App {
  text-align: center;
  background-image: url(C:\Users\adith\WebstormProjects\GitHub\Community-Based-Organization-ReactJs-NodeJs-MySQL\client\src\image.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  left: 0%;
  top: 0%;
}